@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  background-color: rgb(32, 30, 30);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login button {
  padding: 5px 15px;
  border-radius: 20px;
  background-color: rgb(10, 156, 56);
  color: white;
  border: none;
}


/*       Main Page          */
.Main-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(32, 30, 30);
  color: white;
  display: flex;

}

.side-bar {
  font-size: 11px;
  width: 80px;
  height: 100%;
  background-color: rgb(4, 4, 5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* box-shadow: 2px 1px 4px rgb(8, 8, 8); */
}

.git-icon {
  width: 30px;
}

.logo {
  width: 40px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
  color: rgb(237, 237, 237);
}

.menu div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 60px;
  width: 100%;
  cursor: pointer;
}

/* .menu div:hover {
  cursor: pointer;
  background-color: rgb(32, 30, 30);
} */

.clicked {
  background-color: rgb(32, 30, 30);
  border-left: 4px solid rgb(109, 240, 109);
}

.menu-item img {
  width: 20px;
}

/* Profile page */

.profile-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 70px;
  background-color: rgb(32, 30, 30);
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.song-name {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;

}

.user-info>img {
  width: 70px;
  object-fit: cover;
  border-radius: 100%;
  padding: 5px;
  border: 2px solid white;
}

.user-info .user-avatar {
  border-radius: 50%;
  /* padding: 10px 14px; */
}

.followers-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.followers-div div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: gray;
}

.user-info>button {
  background: transparent;
  color: white;
  border: 2px solid rgb(162, 162, 162);
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 700;
}


.bottom-div {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 80%;
  padding: 15px;
}

.bottom-div button {
  background: transparent;
  color: white;
  border: 2px solid rgb(159, 158, 158);
  padding: 5px 20px;
  border-radius: 20px;
}

.top-artists {
  flex: 1;
}

.top-artists .header {
  display: flex;
  justify-content: space-between;

}

.content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.content1 div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content1 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.top-tracks {
  flex: 1;
}

.top-tracks .header2 {
  display: flex;
  justify-content: space-between;
}

.top-tracks .content2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.content2 img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}


.top-tracks .song-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.song-info>div {
  display: flex;
  gap: 10px;
}



/* Artists page */

.Artists-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Artists-page .header {
  display: flex;
  justify-content: space-between;
}

.Artists-page .filter {
  display: flex;
  gap: 15px;
  cursor: pointer;
  color: gray;
  font-size: 14PX;
}

.filter p:hover {
  color: white;
  text-decoration: underline;
}

.Selected {
  color: white;
  text-decoration: underline;
}

.artists-div {
  margin-top: 80px;
  width: 70%;
}

.artists-div .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 30px;
}

.artists-avatar img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.artists-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}



/* Top Tracks */

.tt {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.tt .header {
  display: flex;
  justify-content: space-between;
}

.tt .filter {
  display: flex;
  gap: 15px;
  cursor: pointer;
  color: gray;
  font-size: 14PX;
}

.Selected {
  color: white;
  text-decoration: underline;
}

.topTracks-div {
  margin-top: 80px;
  width: 70%;
}

.ttlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 30px;
}

.tt-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tt-img-name img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.tt-song-info {
  display: flex;
  margin-top: 15px;
  align-items: center;
  gap: 10px;
}

.tt-img-name {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
}




/* Recent Playlists */


.recent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.recent .header {
  display: flex;
  justify-content: space-between;
}

.recent-div {
  margin-top: 80px;
  width: 70%;
}


/* MyPlaylist */


.my-playlists {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.my-playlists .header {
  display: flex;
  justify-content: space-between;
}

.myplaylists-div {
  margin-top: 80px;
  width: 70%;
}

.mylist {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.list>img {
  width: 280px;
  height: 280px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 280px;
  margin-top: 20px;
}

.list-name {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}